@font-face {
  font-family: myfont;
  src: url(../font/Poppins-Bold.ttf);
}

@font-face {
  font-family: myfont2;
  src: url(../font/Poppins-Medium.ttf);
}

@font-face {
  font-family: myfont3;
  src: url(../font/Poppins-Thin.ttf);
}

.f-1 {
  font-family: myfont;
}

.f-2 {
  font-family: myfont2;
}

.f-3 {
  font-family: myfont3;
}
