<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Project</title>
    <!-- <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mediaquery.css" /> -->
    <link rel="stylesheet" href="../assets/css/new-mediaquery.css" />
    <link rel="stylesheet" href="../assets/css/new-style.css" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link rel="icon" href="../assets/img/logo.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- nav -->
    <!-- <div class="nav">
      <div class="logo">
        <a href="/">
          <img src="img/logo.png" alt="ini adalah logo" />
        </a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/project">Add Project</a></li>
      </ul>
      <div class="tombol-kontak">
        <a href="/contact">Contact Me</a>
      </div>
      <div class="tombol-hamburger-container">
        <button
          id="btn-hamburger"
          class="btn-hamburger"
          onclick="openHamburger()"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="menu-hamburger" id="menu-hamburger">
      <a href="/">Home</a>
      <a href="/project">Add Project</a>
      <a href="/contact">Contact</a>
    </div> -->
    <nav id="nav-nav" class="navbar fixed-top navbar-expand-lg p-3">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../assets/img/logo.png" alt="logo" width="60" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 f-2">
            <li class="nav-item mx-2">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link active" id="act" href="/project"
                >Add Project</a
              >
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/testimonial">Testimonial</a>
            </li>
            <li class="nav-item mx-2 dsds-none">
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>
          </ul>
          <!-- kanan -->
          <ul
            class="navbar-nav mb-2 mb-lg-0 f-2 d-flex justify-content-end me-3"
          >
            <li class="nav-item mx-2">
              <a class="nav-link" href="/form-register">Register</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/form-login">Login</a>
            </li>
          </ul>
          <div class="d-flex" role="search">
            <a href="/contact" class="btn btn-success" id="btn-c">
              Contact Me
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- new form -->
    <div class="container" style="padding-top: 100px; margin-bottom: 100px">
      <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-8 col-lg-6">
          <p class="h3 f-1 my-5 text-center">Add My Project</p>
          <form class="f-2" action="/addproject" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Project Name</label
              >
              <input
                type="text"
                class="form-control shadow-sm"
                id="iproject"
                name="name"
              />
            </div>
            <div class="col-12 mb-3 d-flex flex-row justify-content-between">
              <div class="mb-3 col-6">
                <label for="exampleInputPassword1" class="form-label"
                  >Start Date</label
                >
                <input
                  type="date"
                  class="form-control shadow-sm"
                  id="sdate"
                  name="sdate"
                />
              </div>
              <div class="mb-3 col-6">
                <label for="exampleInputPassword1" class="form-label"
                  >Start Date</label
                >
                <input
                  type="date"
                  class="form-control shadow-sm"
                  id="edate"
                  name="edate"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Description</label
              >
              <textarea
                class="form-control shadow-sm"
                id="desc"
                rows="3"
                name="desc"
              ></textarea>
            </div>
            <div class="mb-1 mt-4">
              <label for="" class="form-label">Technologies</label>
            </div>
            <div class="col-12 d-flex flex-row justify-content-between">
              <div class="mb-3 col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="reactjs"
                  id="rejs"
                  name="rejs"
                />
                <label class="form-check-label" for="rejs"> React JS </label>
              </div>
              <div class="mb-3 col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="nodejs"
                  id="nojs"
                  name="nojs"
                />
                <label class="form-check-label" for="nojs"> Node JS </label>
              </div>
            </div>
            <div class="col-12 mb-3 d-flex flex-row justify-content-between">
              <div class="mb-3 col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="bootstrap"
                  id="bs"
                  name="bs"
                />
                <label class="form-check-label" for="bs"> Bootstrap </label>
              </div>
              <div class="mb-3 col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="laravel"
                  id="lar"
                  name="lar"
                />
                <label class="form-check-label" for="lar">Laravel</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="title-attfile" class="form-label"></label>
              <span>Upload Image</span>
              <input
                class="form-control shadow-sm"
                type="file"
                id="title-attfile"
              />
            </div>
            <div class="d-flex justify-content-end">
              <button
                type="submit"
                class="btn btn-primary px-4"
                id="btn-b"
                style="border-radius: 20px"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <div
      class="container-fluid bg-light"
      style="margin-top: 100px; padding-bottom: 100px"
    >
      <div class="row d-flex justify-content-center">
        <div class="col-11 col-md-12 col-lg-11">
          <p class="h3 f-1 text-center mt-5">Add Project</p>
          <div
            class="d-flex flex-wrap justify-content-center"
            id="cardcontainer"
          >
            <div class="card m-3" style="width: 18rem; object-fit: cover">
              <img
                src="img/manuk.jpg"
                class="card-img-top object-fit-cover"
                height="180rem"
              />
              <div class="card-body">
                <p class="card-text text-start h6 f-1">
                  web halaman satu
                </p>
                <p class="card-text text-start h6 f-2">
                  durasi :
                </p>
                <p class="card-text text-start h6 f-2 mb-5 mt-4">
                  Lorem ipsum dolor sit amet c
                </p>
                <div class="d-flex justify-content-start my-4">
                  <i class="fa-brands fa-react fa-2xl "></i>
                  <i class="fa-brands fa-node fa-2xl marlef mx-1"></i>
                  <i class="fa-brands fa-bootstrap fa-2xl marlef mx-1"></i>
                  <i class="fa-brands fa-laravel fa-2xl marlef mx-1"></i>
                </div>
                <div class="d-flex justify-content-evenly mt-5" >
                  <a href="" class="btn btn-primary col-5" id="btn-c" style="border-radius: 20px;">Edit</a>
                  <a href="" class="btn btn-primary col-5" id="btn-c" style="border-radius: 20px;">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- link js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/myproject.js"></script> -->
    <script
      src="https://kit.fontawesome.com/dffd08a31f.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/hamburger-nav.js"></script> -->
  </body>
</html>
